/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 @font-face {
  font-family: 'komika_titleregular';
  src: url('/fonts/KomikaTitle-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  background-image: url('/images/bg-toilet-brown.png');
  background-color: white;
  margin: 0;
}
a {
  color: yellow;
}
.flash-notice {
  background-color: yellow;
  text-align: center;
}
.search {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  width: 96%;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.locate {
  position: absolute;
  top: 120px;
  right: 4%;
  background: none;
  border: none;
  z-index: 11;
}
.locate img {
  width: 30px;
  cursor: pointer;
}
.get-directions-link {
  color: blue;
}
.get-directions-link:hover {
  color: blue;
  text-decoration: underline;
}

.wheres-johnny-logo {
  max-height: 50px;
}

.profile_photo {
  max-width: 38px;
  max-height: 38px;
}
.top-bar, .top-bar ul {
  background-color: #ffffff;
}
.menu .menu-text {
  color: #ffffff;
  font-size: large;
}
.tagline {
  color: black;
  list-style: none;
  font-weight: bold;
  font-size: larger;
}
.page-heading {
  text-align: center;
  margin: 25px 0;
  font-family: 'komika_titleregular';
}
.sign-up-btn {
  background-color: yellow;
  font-weight: bold;
}
.login-btn {
  background-color: white;
}
.button:hover, .button:focus {
  background-color: yellow;
  color: black;
  box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
  border: solid 1px rgba(0,0,0,.2);
  outline: 0;
}
.search-and-map-container {
  border: solid 1px #eee;
}
.search-container {
  background-color: yellow;
  padding: 25px;
}
.search-container label {
  font-family: 'komika_titleregular';
  font-size: larger;
  text-align: center;
}
.search-container label input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
.map-container {
  background-color: yellow;
  padding: 0px;
}
#map {
  width: 100%;
  height: calc(100vh - 66px);
  border: solid 1px #eee;
}
.formy-container {
  max-width: 600px;
  margin-top: 25px;
}
.formy {
  background-color: white;
  padding: 25px;
  margin-top: 25px;
  box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
}
.formy label {
  font-weight: bold;
}
.formy a {
  color: black;
  text-decoration: underline;
}
.upload-btn {
  background-color: #fff;
  color: black;
  border: solid 1px yellow;
}
.submit-btn {
  background-color: yellow;
  color: black;
  border: solid 1px rgba(0,0,0,.2);
  font-weight: bold;
  font-size: large;
}
.flash-alert {
  background-color: red;
  text-align: center;
  color: white;
}
#error_explanation {
  color: red;
}

.topbar-center-logo {
  background: #ffffff;
}

.topbar-center-logo .menu a {
  color: black;
}
.submenu {
  z-index: 12;
}
.topbar-center-logo .menu a::after {
  border-color: black transparent transparent transparent !important;
}

.topbar-center-logo .top-bar-center {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
  .topbar-center-logo, .topbar-center-logo .menu {
    background-color: yellow;
  }
  .topbar-center-logo .menu a {
    color: black;
  }
}

.topbar-center-logo-mobile {
  background:black;
}

.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
}



:root {
  --reach-combobox: 1;
}

[data-reach-combobox-popover] {
  border: solid 1px hsla(0, 0%, 0%, 0.25);
  background: hsla(0, 100%, 100%, 0.99);
  font-size: 85%;
}

[data-reach-combobox-list] {
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

[data-reach-combobox-option] {
  cursor: pointer;
  margin: 0;
  padding: 0.25rem 0.5rem;
}

[data-reach-combobox-option][aria-selected="true"] {
  background: hsl(211, 10%, 95%);
}

[data-reach-combobox-option]:hover {
  background: hsl(211, 10%, 92%);
}

[data-reach-combobox-option][aria-selected="true"]:hover {
  background: hsl(211, 10%, 90%);
}

[data-suggested-value] {
  font-weight: bold;
}
